<div class="external_wedding_planner_form">
  <div class="wedding_planner_form1">
    <h1>Login</h1>
    <% if notice %>
        <p class="notification notice">
          <%= notice %>
        </p>
    <% end %>
    <% if alert %>
        <p class="notification alert">
          <%= alert %>
        </p>
    <% end %>
    <%= form_tag sessions_path do %>
        <div class="field">
          <%= label_tag :login_name, 'Login name:' %>
          <%= text_field_tag :login_name, params[:login_name] %>
        </div>
        <div class="field">
          <%= label_tag :password, 'Password:' %>
          <%= password_field_tag :password, params[:password] %>
        </div>
        <p><%= link_to "forgotten password?", new_password_reset_path %></p>

        <div class="field1">
          <%= check_box_tag :remember_me, 1, params[:remember_me] %>
          <%= label_tag :remember_me %>
        </div>
        <div class="actions">
          <%= submit_tag "Login" %>
        </div>
    <% end %>
  </div>
</div>