<div class="external_wedding_planner_form">
  <h1>Listings</h1>
  <%= gmaps4rails(@json) %>
  <br />
  <div id="entire_table">

    <table id="listings">

      <% @listings.each do |listing| %>
          <tr>
            <td><%= listing.id %></td>
            <td> <%= image_tag listing.picture.url(:thumb) %></td>
            <td><%= listing.business_name %></td>
            <td><%= truncate(strip_tags(listing.description),
                             :length => 80) %></td>
            <td><%= listing.category %></td>
            <td><%= listing.user_id %></td>
            <td><%= link_to 'Show', listing %></td>
            <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
            <td><%= link_to 'Destroy', listing, method: :delete, data: {confirm: 'Are you sure?'} %></td>

          </tr>
      <% end %>
    </table>
  </div>
  <br/>

  <p><%= will_paginate @orders %></p>
  <%= link_to 'New Listing', new_listing_path %>
</div>
