<div class="wedding_planner_form">
  <h1>Welcome
    <% if current_user.first_name? %>
        <%= current_user.first_name %><%= "!" %>
    <% else %>
        <%= "!" %>
    <% end %>
  </h1>

  <p>It's <%= Time.now %>. </p>


  <table class="admin_dashboard">
    <tr>
      <th colspan="2">Users</th>
    </tr>
    <tr>
      <td>Total:</td>
      <td><%= pluralize(@total_users, "user") %> </td>
    </tr>
    <tr>
      <td rowspan="3">Including:</td>
      <td class="no_bottom_border"><%= pluralize(@total_private, "private user") %></td>
    </tr>
    <tr>
      <td class="no_bottom_border"><%= pluralize(@total_vendors, "vendor") %></td>
    </tr>
    <tr>
      <td><%= pluralize(@total_admins, "admin") %></td>
    </tr>
  </table>
  <table class="admin_dashboard">
    <tr>
      <th colspan="2">Products</th>
    </tr>
    <tr>
      <td>Total:</td>
      <td><%= pluralize(@total_products, "product") %> </td>
    </tr>
  </table>
  <table class="admin_dashboard">
    <tr>
      <th colspan="2">Listing</th>
    </tr>
    <tr>
      <td>Total:</td>
      <td><%= pluralize(@total_listings, "listing") %> </td>
    </tr>
  </table>
  <table class="admin_dashboard">
    <tr>
      <th colspan="2">Magazine Orders</th>
    </tr>
    <tr>
      <td>Total:</td>
      <td><%= pluralize(@total_orders, "order") %> </td>
    </tr>
  </table>

</div>