<div class="wedding_planner_form">
  <h1>Welcome
    <% if current_user.first_name? %>
        <%= current_user.first_name %><%= "!" %>
    <% else %>
        <%= "!" %>
    <% end %>
  </h1>
  <br/>
  <table class="dashboard">
    <tr>
      <th>My listings</th>
    </tr>
    <tr>
      <td>Published: <%= @total_listings%> </td>
    </tr>
    <tr>


  </table>
  <table class="dashboard">
    <tr>
      <th>My reputation</th>
    </tr>
    <tr>
      <td>Current vote: <%= current_user.total_votes %></td>
    </tr>
    <tr>


  </table>

  </table>
</div>